<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    For system preferred color scheme
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <!-- For dark theme -->
    <title>{% block title %}{% endblock %} - ClickerRPG</title>
    <style>
        .alert {
            background-color: var(--background);
            color: var(--text-muted);
            position: relative;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border-radius: .25rem;
            box-sizing: border-box;
        }
    </style>
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>
